{{ $links := .Site.Params.links }}
<footer class="td-box--gray-dark py-5 pb-3 d-print-none">
<div class='container'>
  <div class="container-fluid px-3 px-lg-0">
    <div class="row justify-content-between">
      <div class="col-12 col-sm-6 col-lg-8 pl-0">
        <div class='copyright-legal-links mt-3'>
          {{ with .Site.Params.copyright }}<small class="text-white">Copyright &copy; {{ now.Year}} <span class='year'></span> labspractices.com. All Rights Reserved.</small><br/>{{ end }}
          {{ with .Site.Params.copyright }}<small class="text-white">Copyright &copy; 2005&ndash;{{ now.Year}} <span class='year'></span> Broadcom. All Rights Reserved. The term “Broadcom” refers to Broadcom Inc. and/or its subsidiaries. </small><br/>{{ end }}
          <small><a href="javascript:void(0);" class="ot-sdk-show-settings" style="cursor:pointer;">Cookie Settings</a></small>
        </div>
      	{{ if not .Site.Params.ui.footer_about_disable }}
      		{{ with .Site.GetPage "topics/about-this-site" }}<p class="mt-2"><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></p>{{ end }}
      	{{ end }}
      </div>

    </div>
  </div>
</div>
</footer>
{{ define "footer-links-block" }}
<ul class="list-inline mb-0">
  {{ range . }}
  <li class="list-inline-item mx-2 h3" data-toggle="tooltip" data-placement="top" title="{{ .name }}" aria-label="{{ .name }}">
    <a class="text-white" target="_blank" href="{{ .url }}">
      <i class="{{ .icon }}" alt="{{ .name }} icon"></i>
    </a>
  </li>
  {{ end }}
</ul>
{{ end }}
