<!-- Initialize GTM data layer -->
<script>
dataLayer = [];
</script>
<!-- OneTrust -->
<script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
<!-- Google Tag Manager -->
<script>
function setGTM(w,d,s,l,i){ w[l]=w[l]||[]; w[l].push({'gtm.start':new Date().getTime(),event:'gtm.js'}); var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:''; j.async=true; j.src='https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f); }
if (document.cookie.indexOf('OptanonConsent') > -1 && document.cookie.indexOf('groups=') > -1) { setGTM(window,document,'script','dataLayer','GTM-TQ9H33K'); } else{ waitForOnetrustActiveGroups(); } var timer; function waitForOnetrustActiveGroups() { if (document.cookie.indexOf('OptanonConsent') > -1 && document.cookie.indexOf('groups=') > -1) { clearTimeout(timer); setGTM(window,document,'script','dataLayer','GTM-TQ9H33K'); } else{ timer=setTimeout(waitForOnetrustActiveGroups, 250); } }
</script>
<script>

function getCookie(name) {
  var dc = document.cookie;
  var prefix = name + "=";
  var begin = dc.indexOf("; " + prefix);
  if (begin == -1) {
    begin = dc.indexOf(prefix);
    if (begin != 0) return null;
  } else {
    begin += 2;
    var end = document.cookie.indexOf(";", begin);
    if (end == -1) {
      end = dc.length;
    }
  }

  return decodeURI(dc.substring(begin + prefix.length, end));
}

  function updateFilters() {
      let activeFilters = Array.from(document.querySelectorAll('li.filter.active')).map(el => el.getAttribute("filter"))
      if(activeFilters.length === 0) {
        document.querySelectorAll('[filter="all"]')[0].classList.add("active")
        activeFilters = ["all"]
      }
      const params = new URLSearchParams(document.location.search.substring(1));
      params.delete('filters')
      const constructedParams = Array.from(params).length > 0 ? "&" + params.toString() : ''
      window.history.pushState('', '', '?filters=' + activeFilters.join(",") + constructedParams);

      Array.from(document.getElementsByClassName("filter-item")).forEach(el => {
        el.hidden = true
        for (f of activeFilters) {
          if (el.classList.contains(f) | f === 'all') {
            el.hidden = false
            break;
          }
        }
      });
    }

    document.addEventListener("DOMContentLoaded", function () {
      const params = new URLSearchParams(document.location.search.substring(1));
      let fs = params.get("filters")
      if (fs) {
        fs = fs.toLowerCase().split(',')
        Array.from(document.getElementsByClassName("filter")).forEach(el => {
          if (fs.includes(el.getAttribute("filter"))) {
            el.classList.add("active")
          } else {
            el.classList.remove("active")
          }
        });
        updateFilters()
      }

    });

</script>
